<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.narcinglotapp">

    <!-- Gets permission to use the camera app -->
    <uses-feature android:name="android.hardware.camera"
                  android:required="true" />
    <!-- Gives the app permission to read and write in the storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
                                    android:maxSdkVersion="18"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


<application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

    <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
        <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
    </provider>


    <!-- Had to add activities here to tie everything together -->
        <!-- Adds Offender Activity -->
        <activity android:name=".OffenderPgActivity">
        </activity>
        <!-- Adds Submitter Activity -->
        <activity android:name=".SubmitterPgActivity">
        </activity>

        <!-- Adds Location Activity -->
        <activity android:name=".LocationPgActivity">
        </activity>

        <!-- Was here already -->
        <!-- Adds Main Activity -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>

